# Editor Config
# =================================================
# http://editorconfig.org/
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

root = true

[*]
charset = utf-8
indent_size = 4
continuation_indent_size = 4
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
spaces_around_operators = true

[*.php]
curly_bracket_next_line = true

# [*.{php,js}]
# quote_type = single

[{*.yml,*.json,Vagrantfile}]
indent_size = 2

[composer.json]
indent_size = 4

[*.{diff,md}]
trim_trailing_whitespace = false

[{.env,.env.*}]
insert_final_newline = false
